{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product {
            width: 55%;
            margin-left: 20%;
        }

        .reviews {
            margin-top: 30px;
        }

        .reviews-block {
            height: max-content;
            padding: 10px;
            border: 1px solid #242b2e;
            margin-bottom: 10px;
            background: darkgrey;
        }

        .now-review-block {
            margin-top: 10px;
            margin-bottom: 10px;
            height: max-content;
            padding: 10px;
            background: darkgray;
            border: 1px solid #242b2e;
        }

    </style>
    <div class="product">
        <img src="{{ product.image.url }}" alt="" width="1000">
        <h3 class="card-title">{{ product.title }}</h3>
        <h4 class="card-price">Цена: {{ product.price }} кредитов</h4>
        <h4 class="card-quantity">Количество: {{ product.quantity }}</h4>
        <h4 class="card-create-date">Дата создания: {{ product.creat_date }}</h4>
        <h6 class="cart-dis">{{ product.description }}</h6>
        <div class="categories">
            <img src="{{ categories.image.url }}" alt="" width="25px">
            <a href="/products/?category_id={{ categories.id }}" class="card-link">{{ categories.title }}</a>
        </div>
        <div class="now-review-block">
            <form action="/products/{{ product.id }}/" method="post">
                {% csrf_token %}
                {% if user %}
                    {{ review_form.as_p }}
                    <input type="submit" value="Создать">
                {% endif %}
            </form>
        </div>
        <div class="reviews-block">
            <div class="reviews">
                {% for review in reviews %}
                    <h4>Покупатель:{{ review.author }}</h4>
                    <p>Отзыв:</p>
                    <p>{{ review.text }}</p>
                    <p>Дата написания: {{ review.creat_date }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
